@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity));
}

.menu-icon{
  width: 25px;
  height: 25px;
}

.hhFmBk .blockbuilder-branding{
  display: none !important;
}

.hhFmBk .blockbuilder-branding::after{
  content: "";
}

.text-gray-1 {
    --tw-text-opacity: 1;
    color: rgb(178 190 205 / var(--tw-text-opacity));
}